# https://hydra.cc/docs/configure_hydra/intro/

# enable color logging
defaults:
  - override launcher: basic
  - override sweeper: basic                                                                                                                                                                                                
  - override hydra_logging: colorlog
  - override job_logging: colorlog

job:
  env_set:
    WANDB_START_METHOD: thread
    CUDA_DEVICE_ORDER: PCI_BUS_ID
  
run:
  dir: ${paths.log_dir}/runs/${hydra.job.name}/${run_name}/${now:%Y-%m-%d}_${now:%H-%M-%S}
sweep:
  dir: ${paths.log_dir}/multiruns/${hydra.job.name}/${run_name}/${now:%Y-%m-%d}_${now:%H-%M-%S}
  subdir: ${hydra.job.num}
