# @package _global_
model:
  algorithm: sl
  inner_epochs: #  5
    start: 6
    max: 10
    patience: 2
    plateau_factor: 1.2

  mini_batch_size: 2000
  num_starts: 128
  eval_per_agent: True
  eval_multistep: True
  lookback_intervals: 0
  always_clear_buffer: True
  update_after_every_batch: False
  loss: listnet #ce
  penalty_coef:
    start: 0.001
    end: 0.00001
    total_steps: ${train.epochs}
    scheduler_name: exponential
  entropy_coef: 
    start: 0.0001
    end: 0.00001
    total_steps: ${train.epochs}


train:
  batch_size: 2000
  dataset_size: 2000
