# @package _global_
defaults:
  - _self_
  - callbacks: default.yaml
  - hydra: default.yaml # having hydra before logger in precedence order, so that logger can override run.dir
  - logger: wandb
  - paths: default.yaml
  - env: 10s-3i-20p
  - policy: maham
  - lr_scheduler: cosine 
  - model: sl
  - env_list: null

run_name: ${env.id}
model_name: ${model.algorithm}-${policy.policy}

train:  
  train: true
  dataset_size: 20000
  batch_size: 2000
  lr_scheduler: ${lr_scheduler}
  lr_scheduler_kwargs:
    milestones: [35]
    gamma: 0.1
  optimizer_kwargs:
    policy_lr: 1e-4
    weight_decay: 1e-6
  lr_reduce_on_plateau_patience: 3
  max_grad_norm: 1.
  epochs: 50
  devices: "auto"
  accelerator: "auto"

val:
  dataset_size: 10000
  batch_size: 2000
  decode_type: greedy

test:
  dataset_size: 0
  batch_size: 10
  num_decoding_samples: 1280 
  decode_type: sampling
  gurobi_timeout: 3600
  data_dir: ${paths.test_data_dir}/icaps/${env.id}/td_data.pth
